<!DOCTYPE html>
<html>
<head>
	<title>Lets Poll</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 1. Load libraries -->
    <link rel="stylesheet" type="text/css" href="scripts/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="scripts/client/shim.min.js"></script>
    <script src="scripts/zone.js"></script>
    <script src="scripts/Reflect.js"></script>
    <script src="scripts/system.src.js"></script>
    <!-- 2. Configure SystemJS -->
    <script src="js/system.config.js"></script>
    <script>
      System.import('build/main.js').catch(function(err){ console.error(err); });
    </script>
    <!-- script src="js/jquery-2.1.3.min.js"></script> -->
    <script src="scripts/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
	<h1>Hola</h1>
</body>
</html>